.AboutMe {
    font-size: 0; /* Removes whitespace between inline-block elements */
}

.paragraphs{
    padding-bottom: 15px;
}

.AboutMe p {
    display: inline-block;
    vertical-align: top;
    width: 45%;           /* Make sure they fit side by side */
    margin: 0 2%;          
    font-size: 16px;
}    

 .logo-collection {
    display: flex;
    align-items: center;          
    margin-top: 20px;   
}

.logo {
    width: 30px;
    height: auto;
    cursor: pointer;
    z-index: 6;
} 

.logo{
    display: inline-block;
    vertical-align: top;
    width: 40px; 
    height: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 30px;
    position: relative; 
    z-index: 6;
    cursor: pointer;
} 
 
@media (max-width: 768px) {
    .AboutMe p{
        display: block;       
        width: 90%;           
        margin: 10px auto;  
    }

    .logo-collection{
        justify-content: center;
        align-items: center;       
    }
}

