.footer{
  z-index: 3;
  height: auto; 
}

.Footer{
  position: relative;
  cursor: pointer;
  margin: 50px;
}

.circle-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  margin: 4px;
  cursor: pointer;
  z-index: 980;
}

.red {
  background-color: #f62008;
}

.blue {
  background-color: #0d34e4;
}

.green {
  background-color: #10e822;
}

.black{
  background-color: black;
}

.doodle-img {
  height: 80px;
  width: 110px;
  margin-left: 17px;
  margin-bottom: 10px;
}


/* hide color picker on smaller screens */
@media (max-width: 1000px) {
  .Footer {
    display: none;
  }
}

