.footer{
  z-index: 3;
}

.Footer{
  position: relative;
  cursor: pointer;
}

.circle-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  margin: 4px;
  cursor: pointer;
  z-index: 980;
}

.red {
  background-color: #f62008;
}

.blue {
  background-color: #0d34e4;
}

.green {
  background-color: #10e822;
}

.black{
  background-color: black;
}