.Header {
  position: relative;
  z-index: 8;
  cursor: pointer;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.switch .MuiFormControlLabel-label {
  font-family: "Winky Sans", sans-serif;
  font-weight: 100;
  padding: 10px;
}
