
.clubs-list {
    display: flex;
    gap: 2rem;         
    flex-wrap: wrap;   
    align-items: center;
    justify-content: center;
  }
  

  .club {
    flex: 1 1 300px;    
    box-sizing: border-box;
  }

  .visable-container{
    position: relative; 
    z-index: 7;
    cursor: pointer;
  }

  .visable-container:hover{
    transform: scale(1.05);
  }

.logo-container-club {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;;
  }
  
  .club-logo {
    width: 80px; /* Makes the logo bigger */
    height: auto;
    margin-right: 20px;
    border-radius: 12px;
  }

  .club-name{
   text-align: center;
   justify-content: center;
   font-weight: normal;   /* or 700 for bold */
  font-size: 20px; 
  }


  .club-role{
    text-align: center;
    justify-content: center;
    font-size: 23px; 
    font-weight: 600;
  }

