.project-container {
  position: relative;
  z-index: 50;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.project-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  width: 100%;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-img img {
  width: 200px;
  height: auto;
  margin: 5px;
}

.project-info {
  margin: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-title h3 {
  margin: 0;
}

.project-description p {
  margin: 10px 0 0;
}


.dropdown-btn-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  padding: none;
  margin: 0px;
} 

.dropdown-btn-img.flipped {
  transform: rotate(180deg);
}