
 /* bigger container with everuthing  */
 .Projects{
  position: relative; 
  z-index: 5;
  cursor: pointer;
}

.Projects h1{
    align-items: center;
  }

  .project-capsule{
    padding: 0.5rem;
  }

  .project-capsule:hover{
    background-color: #f0f0f0;
  }
  
  .project-container {
    z-index: 4;
    display: flex;
    flex-direction: column;
  }
  
  /* might need to make it so the items are allsigned differently */
  .project-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }


  /* the item that contains all the work stuff that is sometimes hidden */
  .project-info {
    display: flex;
    flex-direction: column;
    margin:20px;
    margin-bottom: 0px;
    margin-top: 0px;
    gap: 0px;
    flex-grow: 1;
  }

  .project-info-hidden{
    margin-bottom: 10px;
  }
  
  .project-title {
    margin: 0;
    padding: 0;
  }
  
  .project-description {
    margin: 0;
    padding: 0;
  }


  .project-img{ 
    width: 100px;
    height: 80px;
    border-radius: 5px;
  }


  .time-period {
    font-size: 16px;
    color: #555555;
    margin-top: 5px;
  }
  


.dropdown-btn-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
  padding: none;
  margin: 0px;
}

.dropdown-btn-img.flipped {
  transform: rotate(180deg); /* Flip the image */
}

.skills-tag {
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px;
  margin: 10px;
  margin-bottom: 15px;;
}

.skills-tag p {
  background-color: #cccccc; 
  padding: 5px 10px; 
  border-radius: 20px; 
  font-size: 14px; 
  color: #555555;
  margin: 0; 
}

.links-section{
  display: flex;
  padding: 0px;
  margin: 0px;
}


@media (max-width: 415px) {
  .project-item {
    flex-direction: column;   
    align-items: center;      
    text-align: center;       
  }

  .project-img {
    width: 150px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .project-info {
    margin: 0 10px;           
    gap: 10px;
  }

  .project-title,
  .project-description {
    font-size: 14px;          
  }
}


