.project-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .project-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
  }
  
  .project-item:hover {
      transform: scale(1.05);
    }
  
  .project-img img {
    width: 200px;
    height: auto;
    margin: 5px;
  }
  
  .project-info {
    margin: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .project-title h3 {
    margin: 0;
  }
  
  .project-description p {
    margin: 10px 0 0;
  }
  